<!DOCTYPE html>
<html>
	<head>
		<base target="_top" />
		<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css" />
		<style>
			body {
				margin: 5px;
			}
			input {
				width: 100%;
			}
			td {
				padding: 5px;
				border-bottom: 0px;
			}
			.clickable {
				color: #202124;
				cursor: default;
				transform: translate(0, 0);
				transition: 0.3s;
			}
			.clickable:hover {
				transform: translate(5px, 0);
			}
		</style>
	</head>
	<body>
		<? var modes = data.modes; ?>
		<p><?= data.message ?></p>

		<main>
			<? for (var i = 0; i < modes.length; i++) { ?>
			<h2 class="clickable" onClick="hideElementById('<?= modes[i].nom ?>')"><?= modes[i].nom ?></h2>
			<table id="<?= modes[i].nom ?>">
				<colgroup>
					<col width="195" span="<?= parameters.nbCol ?>" />
				</colgroup>
				<? for (var j = 0; j < modes[i].temps.length;) { /* For all temps of this mode */?>
				<tr>
					<? for (var col = 0; col < parameters.nbCol && j < modes[i].temps.length; col++, j++) { ?>
					<td>
						<table>
							<colgroup>
								<col width="195" />
							</colgroup>
							<tr>
								<th><?= modes[i].temps[j].nom ?></th>
							</tr>
							<? for (var k = 0; k < modes[i].temps[j].personne.length; k++) { ?>
							<tr>
								<td>
									<input
										type="submit"
										value="<?= modes[i].temps[j].personne[k] ?>"
										class="action"
										onclick="form_data('<?= modes[i].temps[j].personne[k] ?>')"
									/>
								</td>
							</tr>
							<?}?>
						</table>
					</td>
					<? } ?>
				</tr>
				<?}?>
			</table>
			<?}?>
		</main>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>
			function hideElementById(id) {
				var x = document.getElementById(id)
				if (x.style.display === "none") {
					x.style.display = "block"
				} else {
					x.style.display = "none"
				}
			}

			function form_data(word) {
				google.script.run.withSuccessHandler(closeIt).insertText(word)
			}

			function closeIt() {
				google.script.host.close()
			}
		</script>
	</body>
</html>
