<!DOCTYPE html>
<html>
	<head>
		<base target="_top" />
		<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css" />
		<style>
			body {
				margin: 5px;
				margin-right: 15px;
			}
			td {
				padding: 5px;
				border-bottom: 0px;
			}
			.vocabulary {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
			}
			.vocabulary * {
				flex: auto;
			}
			.bottom-empty-space {
				width: 100%;
				height: 500px;
			}
		</style>
	</head>
	<body>
		<? var words = data.words; ?>
		<p><?= data.message ?></p>

		<main>
			<div class="vocabulary">
				<? for (var i = 0; i < words.length; i++) { ?>
				<input type="submit" value="<?= words[i] ?>" onclick="replaceSelection('<?= words[i] ?>')" />
				<? } ?>
			</div>
		</main>
		<footer>
			<div class="bottom-empty-space"></div>
		</footer>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>
			function replaceSelection(word) {
				google.script.run.withSuccessHandler(closeIt).insertText(word)
			}
			function closeIt() {
				google.script.host.close()
			}
		</script>
	</body>
</html>
